In [18]:
import pandas as pd

In [19]:
df_detailed_class_info = pd.read_csv('/var/lib/data/rsna-pneumonia-detection-challenge/stage_1_detailed_class_info.csv')

In [20]:
df_detailed_class_info.head()

                              patientId                         class
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6  No Lung Opacity / Not Normal
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd  No Lung Opacity / Not Normal
2  00322d4d-1c29-4943-afc9-b6754be640eb  No Lung Opacity / Not Normal
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5                        Normal
4  00436515-870c-4b36-a041-de91049b9ab4                  Lung Opacity

In [21]:
df_detailed_class_info.describe()

                                   patientId                         class
count                                  28989                         28989
unique                                 25684                             3
top     8dc8e54b-5b05-4dac-80b9-fa48878621e2  No Lung Opacity / Not Normal
freq                                       4                         11500

In [22]:
df_sample_submistion = pd.read_csv('/var/lib/data/rsna-pneumonia-detection-challenge/stage_1_sample_submission.csv')

In [23]:
df_sample_submistion.head()

                              patientId PredictionString
0  000924cf-0f8d-42bd-9158-1af53881a557  0.5 0 0 100 100
1  000db696-cf54-4385-b10b-6b16fbb3f985  0.5 0 0 100 100
2  000fe35a-2649-43d4-b027-e67796d412e0  0.5 0 0 100 100
3  001031d9-f904-4a23-b3e5-2c088acd19c6  0.5 0 0 100 100
4  0010f549-b242-4e94-87a8-57d79de215fc  0.5 0 0 100 100

In [24]:
df_sample_submistion.describe()

                                   patientId PredictionString
count                                   1000             1000
unique                                  1000                1
top     1f70d7ed-d3aa-47d7-acc6-3bc978011e42  0.5 0 0 100 100
freq                                       1             1000

In [25]:
df_train_labels = pd.read_csv('/var/lib/data/rsna-pneumonia-detection-challenge/stage_1_train_labels.csv')

In [26]:
df_train_labels.head()

                              patientId      x      y  width  height  Target
0  0004cfab-14fd-4e49-80ba-63a80b6bddd6    NaN    NaN    NaN     NaN       0
1  00313ee0-9eaa-42f4-b0ab-c148ed3241cd    NaN    NaN    NaN     NaN       0
2  00322d4d-1c29-4943-afc9-b6754be640eb    NaN    NaN    NaN     NaN       0
3  003d8fa0-6bf1-40ed-b54c-ac657f8495c5    NaN    NaN    NaN     NaN       0
4  00436515-870c-4b36-a041-de91049b9ab4  264.0  152.0  213.0   379.0       1

In [27]:
df_train_labels.describe()

                 x            y        width       height        Target
count  8964.000000  8964.000000  8964.000000  8964.000000  28989.000000
mean    391.456158   363.135877   220.845382   334.174364      0.309221
std     203.945378   148.607149    59.041384   158.097239      0.462180
min       2.000000     2.000000    40.000000    45.000000      0.000000
25%            NaN          NaN          NaN          NaN      0.000000
50%            NaN          NaN          NaN          NaN      0.000000
75%            NaN          NaN          NaN          NaN      1.000000
max     817.000000   881.000000   528.000000   942.000000      1.000000